@import url("https://fonts.cdnfonts.com/css/georgia");

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-wrapper h3 {
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  max-width: 600px;
  text-align: center;
  color: #4b5563;
  /* transform: scaleX(1.2);  */
}

.header-wrapper h1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1vh;
  max-width: 600px;
  text-align: center;
  color: #4b5563;
}
.online-status {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
@keyframes scaleFadeDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5); /* Adjust scale value as needed */
    opacity: 0;
  }
}

.online-status-icon {
  display: inline-block;
  background-color: #22c55e;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  position: relative;
  margin-right: 10px;
}

.online-status-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.online-status-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: scaleFadeDisappear 1s ease-in-out infinite;
  box-shadow: 0 0 8px #22c55e;
}
@media (max-width: 780px) {
  .header-wrapper h1 {
    font-size: 1.2rem;
  }
}
